/* line 6, ../sass/style.scss */
body {
  width: 1240px;
}

/* line 10, ../sass/style.scss */
img {
  width: 1240px;
}

/* line 14, ../sass/style.scss */
div {
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 0 auto;
}

/* large screen */
@media screen and (max-width: 1024px) {
  /* line 23, ../sass/style.scss */
  body {
    width: 1024px;
  }

  /* line 26, ../sass/style.scss */
  img {
    width: 1024px;
  }
}
/* medium-large- screen*/
@media screen and (max-width: 413.33333px) {
  /* line 34, ../sass/style.scss */
  body {
    width: 413.33333px;
  }

  /* line 37, ../sass/style.scss */
  img {
    width: 413.33333px;
  }
}
